@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Satisfy&display=swap');

/*  HOME PAGE */

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #ffdf99;
    text-decoration:  none;
    padding: 35px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: #d69f29;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #ffdf99;
    grid-area: 4/1/9/11;
}

body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #05387a;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home-title {
    color: #d69f29;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

nav a:hover {
    background-color: #ffdf99;
    color: #05387a;
}

.book, .join {
    background-color:#05387a;
    color: #ffdf99;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.book:hover, .join:hover {
    background-color: #ffdf99;
    color: #05387a;
}

h4 {
    color: #05387a;
}

.msg {
    background-color: #d69f29;
    line-height: 1.5em;
    padding: 35px;
    grid-area: 6/6/7/10;
    box-shadow: 5px 5px 10px #05387a;
}

.msg h2 {
    color: #05387a;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.msg p {
    color: #05387a;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    color: #ffdf99;
    background-color: #05387a	;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #ffdf99;
    text-decoration:  none;
}

footer a:hover {
    color: #ffdf99;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d69f29;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #05387a;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
    grid-area: 5/2/8/7;
    box-shadow: 5px 5px 10px #05387a;
}

.rivers-card {
    grid-area: 2/2/3/4;
}

.camping-card{
    grid-area: 2/5/3/7;
}

.rapids-card {
    grid-area: 2/8/3/10;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* FAQ PAGE STYLE */
.faq-title {
    color: #05387a;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#faq-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em;
}

#faq-msg h4 {
    color: #05387a;
}

#faq-msg h1, #faq-msg h4 {
    text-align: center;
}

#faq-background {
    height: 300px;
    background-color: #ffdf99;
    grid-area: 4/1/9/11;
    margin: 40px auto;
    padding: 25px;
}

.faq-grid {
    display: grid;
    grid-template-columns: 800px 800px;
    justify-items: center;
    align-items: center;
}

.faq-q1 {
    grid-area: 1/2/2/3;
}

.q1-msg h3 {
    margin: auto 50px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em;
    color: #05387a;
}

.q1-msg p {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    color: #008AA5;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.q1-img {
    grid-area: 1/1/2/2;
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 50px auto;
}

.faq-q2 {
    grid-area: 2/1/3/2;
}

.q2-msg h3 {
    margin: auto 50px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em;
    color: #05387a;
}

.q2-msg p {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    color: #008AA5;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.q2-img {
    grid-area: 2/2/3/3;
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 50px auto;
}

.faq-q3 {
    grid-area: 3/2/4/3;
}

.q3-msg h3 {
    margin: auto 50px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em;
    color: #05387a;
}

.q3-msg p {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    color: #008AA5;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.q3-img {
    grid-area: 3/1/4/2;
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 50px auto;
}

.faq-q4 {
    grid-area: 4/1/5/2;
}

.q4-msg h3 {
    margin: auto 50px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em;
    color: #05387a;
}

.q4-msg p {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    color: #008AA5;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.q4-img {
    grid-area: 4/2/5/3;
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 50px auto;
}

.faq-q5 {
    grid-area: 5/2/6/3;
}

.q5-msg h3 {
    margin: auto 50px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em;
    color: #05387a;
}

.q5-msg p {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    color: #008AA5;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.q5-img {
    grid-area: 5/1/6/2;
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 50px auto;
}

.faq-q6 {
    grid-area: 6/1/7/2;
}

.q6-msg h3 {
    margin: auto 50px;
    font-family: "Satisfy", "Helvetica", sans-serif;
    font-size: 1.3em; 
    color: #05387a;
}

.q6-msg p {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    color: #008AA5;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.q6-img {
    grid-area: 6/2/7/3;
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 50px auto;
}

.faq-msg {
    grid-area: 7/1/8/3;
    margin: 50px auto;
    padding: 25px;
    font-family: "Lora", "Rock Salt", sans-serif;
    background-color: #ffdf99;
    color: #05387a;
    box-shadow: 5px 5px 10px #05387a;
}

.faq-contact {
    background-color:#05387a;
    color: #d69f29;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: "Lora", "Rock Salt", sans-serif;
}

.faq-contact:hover {
    background-color: #d69f29;
    color: #05387a;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}