@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik&display=swap');

body {
    max-width: 800px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

header img {
    margin: 10px;
    justify-self: center;
}

h1 {
    margin: 10px;
    font-size: 2em;
    text-align: center;
    color: #fff;
    padding: 0;
    font-family: "Raleway", "Rock Salt", sans-serif;

}

header, footer {
    background-color: #05387a;
    border-radius: 5px;
}

h2 {
    text-shadow: 2px 2px 4px #000;
    font-family: "Raleway", "Rock Salt", sans-serif;
    font-size: 1.5em;
}

main{
    margin: 20px 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: "Rubik", "Helvetica", sans-serif;
}

li a {
        color: #05387a;

}

footer {
    padding: 1rem;
    text-align: center;
    font-family: "Rubik", "Helvetica", sans-serif;

}

footer p:nth-child(1) {
    color: white;
    font-size: 1.5em;
    margin-bottom: 0;
}

footer p:nth-child(2) {
    color: yellow;
    font-size: 1.1em;
    margin-top: 0;
}